/* CHANGES BY RACHEL */

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;

}

:root {
  --main-color: #92a5d0;
  --person-card: #1E3B4B;
  --box-shadow: 0px 19px 60px rgb(0, 0, 0 / 8%);
  --gray: rgb(182, 182, 182);
}

/* CHANGES BY RACHEL */
