img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.hero-text h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: white;

}

@media screen and (max-width:555px) {
    .hero-text h1 {
        padding: 10px 20px;
    }
}

.hero-text p {
    /* background-color: red; */
    line-height: 2rem;
    font-size: 1.1rem;
    padding: 30px 0 2rem 0;
    color: rgb(238, 239, 243);
    margin: 1em 0;
}