/* CHANGES BY RACHEL */
.container {
    background: linear-gradient(#cbdfe0, #9fb1dd);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

.btnBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btnBox .btn {
  position: relative;
  width: 180px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
}

.btnBox .btn:before,
.btnBox .btn:after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: red;
}

.btnBox .btn:nth-child(1)::before,
.btnBox .btn:nth-child(1):after {
  background: linear-gradient(
    45deg,
    #4789ed,
    rgb(211, 219, 221),
    rgb(15, 222, 237)
  );
}

.btnBox .btn:nth-child(2)::before,
.btnBox .btn:nth-child(2):after {
  background: linear-gradient(
    45deg,
    rgb(15, 222, 237),
    rgb(211, 219, 221),
    #4789ed
  );
}

.btnBox .btn .policeProfile,
.btnBox .btn .searchProfile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #b3c6de;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    overflow: hidden;
    border: 1px solid #A6B6CE;
    color: rgb(3, 3, 77);
}

.btnBox .btn .policeProfile::before, 
.btnBox .btn .searchProfile::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0, 0.075);
    transform: skew(25deg);
}


.btnBox .btn:hover:before {
    inset: -3px;
}

.btnBox .btn:hover:after  {
    inset: -3px;
    filter: blur(15px);
}
/* CHANGES BY RACHEL */
