h1 {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 100px;
  text-indent: 50px;
  background: rgb(188, 231, 232);
}

.name {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 80px;
  text-indent: 50px;
  background: rgb(188, 231, 232);
}

.department {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 70px;
  text-indent: -50px;
  background: rgb(188, 231, 232);
}
