.text {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.img {
  width: 170px;
  position: absolute;
  top: 47%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.stats {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 2;
  font-size: 30px;
}

.name {
  position: right;
  top: 30%;
  left: 80%;
  text-align: left;
  color: white;
  font-size: 25px;
}

.nameInfo {
  position: right;
  top: 30%;
  left: 80%;
  text-align: left;
  color: white;
  font-size: 20px;
}

.department {
  position: right;
  top: 20%;
  left: 80%;
  text-align: left;
  color: white;
  font-size: 25px;
}

.departmentInfo {
  position: right;
  top: 20%;
  left: 80%;
  text-align: left;
  color: white;
  font-size: 20px;
}

.talk {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.txtBox1 {
  font-size: 45px;
  color: black;
}

.txtBox2 {
  font-size: 45px;
  color: black;
}

.star1 {
  width: 100px;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.star2 {
  width: 100px;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1.5s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.star3 {
  width: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.star4 {
  width: 100px;
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.5s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.star5 {
  width: 100px;
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in {
  width: 170px;
  position: absolute;
  top: 47%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
