h1 {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 100px;
  text-indent: 350px;
  line-height: 4;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  background: rgb(188, 231, 232);
}

.name {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 80px;
  text-indent: -700px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background: rgb(188, 231, 232);
}

.nameInfo {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 70px;
  text-indent: -600px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background: rgb(188, 231, 232);
}

.department {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 70px;
  text-indent: -700px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background: rgb(188, 231, 232);
}

.departmentInfo {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 70px;
  text-indent: -520px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background: rgb(188, 231, 232);
}
